/*getting a wedge shape:
  --one half circle (slice-1-w) inside another helf circle (slice-1-c).
  --rotate slice-1-w to get the size of the slice
  --rotate slice-1-c to position the slice among other slices
--to get an 18% slice:
    --360 x .18 = 64.8
    --180 - 64.8 = 115.2deg (we use 180 because we're working with a half circle)*/

body {
  background-color: #e3c598;
}
.pie-chart {
  margin: 50px;
  position: relative;
  height: 300px;
  width: 300px;
}
.common { /*make sure this comes BEFORE border and base */
  position: absolute;
  width:inherit;
  height:inherit;
  border-radius:50%;
}
.border {
  border: 3px solid #5f6a2f;
  top: -6px;
  left: -6px;
  width:306px;
  height:306px;
}
.base {
  background:#000 url(http://placekitten.com/300/300) no-repeat 0 0;
}
.slice {
  clip: rect(0px,150px,300px,0px);
}
.slice-1-c{ /* how did we get 100deg? Randomly.*/
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  transform: rotate(100deg);
}
.slice-1-w {
  background-color: rgba(210, 0, 13, 0.7);
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  transform: rotate(115deg);
}
.slice-2-c { /*how did we get 118deg? By adding the 18% from the first slice to the rotation of the original*/
  -webkit-transform: rotate(118deg);
  -moz-transform: rotate(118deg);
  -o-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
  transfomr: rotate(118deg);
}
.slice-2-w { /* 5% slice*/
  background-color: rgba(210, 104, 0, 0.8);
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transfomr: rotate(162deg);
}
p.label {
  color:#5f6a2f;
  font-weight: bold;
  font-family: arial;
  text-align:right;
  position: absolute;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  padding: 0px 0px 0px 60px;
  width:100px;
  left: 260px;
}
.slice-1-label {
  top: 90px;
}
.slice-2-label {
  top: 150px;
}
